<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
 </head> 
 <body> 
  <vaadin7-vertical-layout spacing style-name="account-layout" id="accountLayout" size-full margin> 
   <vaadin7-label style-name="h1 no-margin colored" plain-text _id="titleLabel">
     Ustawienia konta 
   </vaadin7-label> 
   <vaadin7-text-field enabled="false" style-name="username-field" caption="Nazwa u¿ytkownika" width-full readonly _id="usernameField"></vaadin7-text-field> 
   <vaadin-css-layout width-full :expand> 
    <vaadin-panel style-name="email-panel" caption="Adres e-mail" _id="emailPanel"> 
     <vaadin7-vertical-layout spacing margin> 
      <vaadin7-text-field caption="e-mail" width-full _id="emailField"></vaadin7-text-field> 
      <vaadin7-text-field enabled="false" description="W celu zmiany adresu, wpisz nowy powy¿ej i tutaj." input-prompt="W celu zmiany adresu, wpisz nowy powy¿ej i tutaj." caption="Potwierdz e-mail" width-full _id="emailField2"></vaadin7-text-field> 
      <vaadin-button enabled="false" style-name="friendly" width-full plain-text _id="saveEmailButton" :bottom>
        Zapisz 
      </vaadin-button> 
     </vaadin7-vertical-layout> 
    </vaadin-panel> 
    <vaadin-panel style-name="password-panel" caption="Zmiana has³a" _id="passwordPanel"> 
     <vaadin7-vertical-layout spacing margin> 
      <vaadin7-password-field caption="Stare has³o:" width-full _id="oldPasswordField"></vaadin7-password-field> 
      <vaadin7-password-field enabled="false" caption="Nowe has³o:" width-full _id="newPasswordField"></vaadin7-password-field> 
      <vaadin7-password-field enabled="false" caption="Potwierdz nowe has³o:" width-full _id="newPasswordField2"></vaadin7-password-field> 
      <vaadin-button enabled="false" style-name="friendly" width-full plain-text _id="savePasswordButton" :bottom>
        Zapisz 
      </vaadin-button> 
     </vaadin7-vertical-layout> 
    </vaadin-panel> 
   </vaadin-css-layout> 
  </vaadin7-vertical-layout>  
 </body>
</html>