<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout spacing style-name="account-layout" id="accountLayout" size-full margin> 
   <vaadin-label style-name="h1 no-margin colored" plain-text _id="titleLabel">
     Ustawienia konta 
   </vaadin-label> 
   <vaadin-horizontal-layout> 
    <vaadin-text-field enabled="false" style-name="username-field" caption="Nazwa użytkownika" width-full readonly _id="usernameField"></vaadin-text-field> 
    <vaadin-button plain-text _id="notifyButton" :bottom>
      notyfikacje 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
   <vaadin-css-layout width-full :expand> 
    <vaadin-panel style-name="email-panel" caption="Adres e-mail" _id="emailPanel"> 
     <vaadin-vertical-layout spacing margin> 
      <vaadin-text-field caption="e-mail" width-full _id="emailField"></vaadin-text-field> 
      <vaadin-text-field enabled="false" description="W celu zmiany adresu, wpisz nowy powyżej i tutaj." input-prompt="W celu zmiany adresu, wpisz nowy powyżej i tutaj." caption="Potwierdz e-mail" width-full _id="emailField2"></vaadin-text-field> 
      <vaadin-button enabled="false" style-name="friendly" width-full plain-text _id="saveEmailButton" :bottom>
        Zapisz 
      </vaadin-button> 
     </vaadin-vertical-layout> 
    </vaadin-panel> 
    <vaadin-panel style-name="password-panel" caption="Zmiana hasła" _id="passwordPanel"> 
     <vaadin-vertical-layout spacing margin> 
      <vaadin-password-field caption="Stare hasło:" width-full _id="oldPasswordField"></vaadin-password-field> 
      <vaadin-password-field enabled="false" caption="Nowe hasło:" width-full _id="newPasswordField"></vaadin-password-field> 
      <vaadin-password-field enabled="false" caption="Potwierdz nowe hasło:" width-full _id="newPasswordField2"></vaadin-password-field> 
      <vaadin-button enabled="false" style-name="friendly" width-full plain-text _id="savePasswordButton" :bottom>
        Zapisz 
      </vaadin-button> 
     </vaadin-vertical-layout> 
    </vaadin-panel> 
   </vaadin-css-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>