<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout width-full height="200%">
   <vaadin-vertical-layout size-full _id="chartLayout" :expand></vaadin-vertical-layout>
   <vaadin-panel size-auto _id="searchPanel">
    <vaadin-vertical-layout size-auto _id="searchLayout">
     <vaadin-check-box-group data-item-type="pl.kostro.expensesystem.model.Category" _id="categoryCombo"></vaadin-check-box-group>
     <vaadin-check-box-group data-item-type="pl.kostro.expensesystem.model.UserLimit" _id="userCombo"></vaadin-check-box-group>
     <vaadin-button style-name="friendly" plain-text _id="searchButton">
       Zastosuj 
     </vaadin-button>
    </vaadin-vertical-layout>
   </vaadin-panel>
  </vaadin-horizontal-layout>
 </body>
</html>