<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-horizontal-layout size-full>
    <vaadin-vertical-layout spacing="true" size-full margin="false" _id="chartLayout"></vaadin-vertical-layout>

    <vaadin-panel size-auto _id="searchPanel">
     <vaadin-horizontal-layout spacing="false" size-auto margin="true">
      <vaadin-check-box-group data-item-type="pl.kostro.expensesystem.model.Category" _id="categoryCombo"></vaadin-check-box-group>
      <vaadin-vertical-layout spacing="true" magin="false">
       <vaadin-check-box-group data-item-type="pl.kostro.expensesystem.model.UserLimit" _id="userCombo"></vaadin-check-box-group>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
    </vaadin-panel>

   </vaadin-horizontal-layout>
   <vaadin-vertical-layout spacing="true" size-full margin="false" _id="chartLayout2"></vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>