<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-horizontal-layout width-full height="200%"> 
   <vaadin-vertical-layout spacing size-full margin _id="chartLayout" :expand></vaadin-vertical-layout> 
   <vaadin-panel size-auto _id="searchPanel"> 
    <vaadin-vertical-layout spacing size-auto margin _id="searchLayout"> 
     <vaadin-option-group item-caption-mode="id" _id="categoryCombo"></vaadin-option-group> 
     <vaadin-option-group item-caption-mode="id" _id="userCombo"></vaadin-option-group> 
     <vaadin-button style-name="friendly" plain-text _id="searchButton">
       Zastosuj 
     </vaadin-button> 
    </vaadin-vertical-layout> 
   </vaadin-panel> 
  </vaadin-horizontal-layout>  
 </body>
</html>