<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout size-auto margin> 
   <vaadin7-horizontal-layout spacing _id="actionsLayout"> 
    <vaadin-button enabled="false" style-name="friendly" plain-text _id="saveButton">
      Zapisz 
    </vaadin-button> 
    <vaadin-button icon="fonticon://FontAwesome/f0c5" style-name="icon-only borderless" plain-text _id="duplicateButton">
      Duplikuj 
    </vaadin-button> 
    <vaadin-button icon="fonticon://FontAwesome/f1f8" style-name="icon-only borderless" plain-text _id="removeButton"></vaadin-button> 
   </vaadin7-horizontal-layout> 
   <vaadin7-date-field _id="dateField"></vaadin7-date-field> 
   <vaadin7-combo-box item-caption-mode="id" _id="categoryBox"></vaadin7-combo-box> 
   <vaadin7-combo-box item-caption-mode="id" _id="userBox"></vaadin7-combo-box> 
   <vaadin7-text-field _id="formulaField"></vaadin7-text-field> 
   <vaadin7-combo-box item-caption-mode="id" _id="commentBox"></vaadin7-combo-box> 
   <vaadin7-check-box visible="false"_id="notifyBox">Powiadom</vaadin7-check-box> 
  </vaadin-form-layout>  
 </body>
</html>