<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-form-layout size-auto margin>
   <vaadin-horizontal-layout _id="actionsLayout">
    <vaadin-button enabled="false" style-name="friendly" plain-text _id="saveButton">
      Zapisz 
    </vaadin-button>
    <vaadin-button icon="fonticon://Vaadin-Icons/e7d4" style-name="icon-only borderless" plain-text _id="duplicateButton">
      Duplikuj 
    </vaadin-button>
    <vaadin-button icon="fonticon://Vaadin-Icons/e80b" style-name="icon-only borderless" plain-text _id="removeButton"></vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-date-field _id="dateField"></vaadin-date-field>
   <vaadin-combo-box data-item-type="pl.kostro.expensesystem.model.Category" item-caption-mode="id" _id="categoryBox"></vaadin-combo-box>
   <vaadin-combo-box data-item-type="pl.kostro.expensesystem.model.UserLimit" item-caption-mode="id" _id="userBox"></vaadin-combo-box>
   <vaadin-text-field _id="formulaField"></vaadin-text-field>
   <vaadin-combo-box data-item-type="java.lang.String" item-caption-mode="id" _id="commentBox"></vaadin-combo-box>
   <vaadin-check-box visible="false" _id="notifyBox">
     Powiadom 
   </vaadin-check-box>
  </vaadin-form-layout>
 </body>
</html>