<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="valo-menu-responsive" responsive id="responsive-application-template" size-full>
   <vaadin-css-layout style-name="valo-menu">
    <vaadin-css-layout style-name="valo-menu-part" _id="menuPart">
     <vaadin-horizontal-layout style-name="valo-menu-title" width-full _id="menuTitle">
      <vaadin-label _id="title" :middle :expand>
       <strong>Expense</strong> Application 
      </vaadin-label>
     </vaadin-horizontal-layout>
     <vaadin-button icon="fonticon://Vaadin-Icons/e7b3" style-name="primary small valo-menu-toggle" plain-text _id="showMenuButton">
       Menu 
     </vaadin-button>
     <vaadin-css-layout style-name="valo-menuitems" _id="menuItems">
      <vaadin-label style-name="valo-menu-subtitle" plain-text _id="sheetLabel">
        Your sheets 
      </vaadin-label>
      <vaadin-vertical-layout _id="sheetLayout"></vaadin-vertical-layout>
      <vaadin-label style-name="valo-menu-subtitle" plain-text _id="settingsLabel">
        Configuration 
      </vaadin-label>
      <vaadin-button icon="fonticon://Vaadin-Icons/e929" primary-style-name="valo-menu-item" plain-text _id="addSheetButton">
        Add new sheet 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e687" primary-style-name="valo-menu-item" width-full plain-text _id="accountButton">
        Account 
      </vaadin-button>
      <vaadin-button icon="fonticon://Vaadin-Icons/e798" primary-style-name="valo-menu-item" plain-text _id="logoutButton">
        Logout 
      </vaadin-button>
     </vaadin-css-layout>
    </vaadin-css-layout>
   </vaadin-css-layout>
   <vaadin-vertical-layout size-full _id="content" :expand></vaadin-vertical-layout>
  </vaadin-horizontal-layout>
 </body>
</html>