<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="pl_kostro_expensesystem_components_calendar:pl.kostro.expensesystem.components.calendar">
  <meta name="package-mapping" content="pl_kostro_expensesystem_components_grid:pl.kostro.expensesystem.components.grid">
 </head>
 <body>
  <vaadin-horizontal-layout height-full>
   <vaadin-vertical-layout spacing="false" margin="false" _id="calendarLayout" :expand>
    <vaadin-horizontal-layout width-full _id="navigationLayout" :center>
     <vaadin-button icon="fonticon://Vaadin-Icons/e7b0" style-name="icon-only borderless" plain-text _id="previousMonthButton" :right></vaadin-button>
     <vaadin-date-field resolution="month" width="180px" _id="thisMonthField" :center></vaadin-date-field>
     <vaadin-button icon="fonticon://Vaadin-Icons/e7b1" style-name="icon-only borderless" plain-text _id="nextMonthButton"></vaadin-button>
    </vaadin-horizontal-layout>
    <pl_kostro_expensesystem_components_calendar-expense-calendar width="710px" hight="100%" _id="monthCalendar" :center></pl_kostro_expensesystem_components_calendar-expense-calendar>
   </vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="summary-layout" size-auto margin="false" _id="summaryLayout">
    <vaadin-horizontal-layout _id="dateLayout" :center>
     <vaadin-date-field width="140px" enabled="false" _id="firstDateField" :right></vaadin-date-field>
     <vaadin-date-field width="140px" enabled="false" _id="lastDateField"></vaadin-date-field>
    </vaadin-horizontal-layout>
    <pl_kostro_expensesystem_components_grid-category-sum-grid width="310px" _id="categoryTable" :center></pl_kostro_expensesystem_components_grid-category-sum-grid>
    <pl_kostro_expensesystem_components_grid-user-limit-sum-left-grid width="310px" _id="userLimitTable" :center></pl_kostro_expensesystem_components_grid-user-limit-sum-left-grid>
   </vaadin-vertical-layout>
  </vaadin-horizontal-layout>
 </body>
</html>