<!doctype html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="pl_kostro_expensesystem_components_calendar:pl.kostro.expensesystem.components.calendar">
  <meta charset="UTF-8" name="package-mapping" content="pl_kostro_expensesystem_components_table:pl.kostro.expensesystem.components.table">
 </head> 
 <body> 
  <vaadin-horizontal-layout height-full> 
   <vaadin-vertical-layout _id="calendarLayout" :expand> 
    <vaadin-horizontal-layout spacing width-full _id="navigationLayout" :center> 
     <vaadin-button icon="fonticon://FontAwesome/f060" style-name="icon-only borderless" plain-text _id="previousMonthButton" :right></vaadin-button> 
     <vaadin-date-field _id="thisMonthField" :center></vaadin-date-field> 
     <vaadin-button icon="fonticon://FontAwesome/f061" style-name="icon-only borderless" plain-text _id="nextMonthButton"></vaadin-button> 
    </vaadin-horizontal-layout> 
    <pl_kostro_expensesystem_components_calendar-expense-calendar size-full _id="monthCalendar" :center></pl_kostro_expensesystem_components_calendar-expense-calendar> 
   </vaadin-vertical-layout> 
   <vaadin-vertical-layout spacing style-name="summary-layout" size-auto _id="summaryLayout"> 
    <vaadin-horizontal-layout _id="dateLayout" :center> 
     <vaadin-date-field enabled="false" _id="firstDateField" :right></vaadin-date-field> 
     <vaadin-date-field enabled="false" _id="lastDateField"></vaadin-date-field> 
    </vaadin-horizontal-layout> 
    <pl_kostro_expensesystem_components_table-category-table _id="categoryTable" :center></pl_kostro_expensesystem_components_table-category-table> 
    <pl_kostro_expensesystem_components_table-user-limit-table _id="userLimitTable" :center></pl_kostro_expensesystem_components_table-user-limit-table> 
   </vaadin-vertical-layout> 
  </vaadin-horizontal-layout>  
 </body>
</html>