<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-form-layout size-full>
   <vaadin-text-field required-indicator-visible caption="user name" width="15em" required _id="nameField"></vaadin-text-field>
   <vaadin-password-field required-indicator-visible caption="password" width="15em" required _id="passwordField"></vaadin-password-field>
   <vaadin-password-field required-indicator-visible caption="repeat password" width="15em" required _id="rePasswordField"></vaadin-password-field>
   <vaadin-text-field required-indicator-visible caption="e-mail" width="15em" required _id="emailField"></vaadin-text-field>
   <vaadin-css-layout style-name="buttons">
    <vaadin-button style-name="friendly" plain-text _id="saveButton">
      Save 
    </vaadin-button>
   </vaadin-css-layout>
  </vaadin-form-layout>
 </body>
</html>