<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout size-full> 
   <vaadin-text-field caption="user name" required width="15em" _id="nameField"></vaadin-text-field> 
   <vaadin-password-field caption="password" required width="15em" _id="passwordField"></vaadin-password-field> 
   <vaadin-password-field caption="repeat password" required immediate width="15em" _id="rePasswordField"></vaadin-password-field> 
   <vaadin-text-field caption="e-mail" required width="15em" _id="emailField"></vaadin-text-field> 
   <vaadin-css-layout style-name="buttons"> 
    <vaadin-button style-name="friendly" plain-text _id="saveButton">
      Save 
    </vaadin-button> 
   </vaadin-css-layout> 
  </vaadin-form-layout>  
 </body>
</html>