<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="pl_kostro_expensesystem_components_form:pl.kostro.expensesystem.components.form">
 </head>
 <body>
  <vaadin-vertical-layout size-full margin="false">
   <vaadin-panel size-auto _id="actionPanel">
    <vaadin-horizontal-layout width-full margin _id="actionsLayout">
     <vaadin-date-field width="140px" _id="fromDateField"></vaadin-date-field>
     <vaadin-date-field width="140px" _id="toDateField"></vaadin-date-field>
     <vaadin-combo-box width="140px" data-item-type="pl.kostro.expensesystem.model.Category" item-caption-mode="id" _id="categoryBox"></vaadin-combo-box>
     <vaadin-combo-box width="140px" data-item-type="pl.kostro.expensesystem.model.UserLimit" item-caption-mode="id" _id="userBox"></vaadin-combo-box>
     <vaadin-text-field _id="formulaField"></vaadin-text-field>
     <vaadin-combo-box data-item-type="java.lang.String" item-caption-mode="id" _id="commentBox"></vaadin-combo-box>
    </vaadin-horizontal-layout>
   </vaadin-panel>
   <vaadin-button plain-text _id="newExpenseButton" :right>
     Dodaj nowy 
   </vaadin-button>
   <vaadin-horizontal-layout size-full _id="workingLayout">
    <vaadin-grid size-full data-item-type="pl.kostro.expensesystem.model.Expense" _id="expenseGrid" :expand></vaadin-grid>
    <pl_kostro_expensesystem_components_form-expense-form height-full _id="expenseForm" :right></pl_kostro_expensesystem_components_form-expense-form>
   </vaadin-horizontal-layout>
   <vaadin-button plain-text _id="exportButton" :right>
     Exportuj
   </vaadin-button>
  </vaadin-vertical-layout>
 </body>
</html>