<!doctype html>
<html>
 <head> 
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;expensesystem&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="pl_kostro_expensesystem_components_form:pl.kostro.expensesystem.components.form">
 </head> 
 <body> 
  <vaadin7-vertical-layout spacing size-full> 
   <vaadin-panel size-auto _id="actionPanel"> 
    <vaadin7-horizontal-layout spacing width-full margin _id="actionsLayout"> 
     <vaadin7-date-field _id="fromDateField"></vaadin7-date-field> 
     <vaadin7-date-field _id="toDateField"></vaadin7-date-field> 
     <vaadin7-combo-box item-caption-mode="id" _id="categoryBox"></vaadin7-combo-box> 
     <vaadin7-combo-box item-caption-mode="id" _id="userBox"></vaadin7-combo-box> 
     <vaadin7-text-field _id="formulaField"></vaadin7-text-field> 
     <vaadin7-combo-box item-caption-mode="id" _id="commentBox"></vaadin7-combo-box> 
     <vaadin-button icon="fonticon://FontAwesome/f002" style-name="icon-only borderless" plain-text _id="filterButton"></vaadin-button> 
    </vaadin7-horizontal-layout> 
   </vaadin-panel> 
   <vaadin-button plain-text _id="newExpenseButton" :right>
     Dodaj nowy 
   </vaadin-button> 
   <vaadin7-horizontal-layout size-full _id="workingLayout"> 
    <vaadin7-grid size-full _id="expenseGrid" :expand></vaadin7-grid> 
    <pl_kostro_expensesystem_components_form-expense-form height-full _id="expenseForm" :right></pl_kostro_expensesystem_components_form-expense-form> 
   </vaadin7-horizontal-layout> 
  </vaadin7-vertical-layout>  
 </body>
</html>