@import "../valo/valo";
@import "views/common";
@import "views/expensesystemview";
@import "views/login";
@import "views/register";
@import "views/reports";
@import "views/sales";
@import "views/schedule";
@import "views/transactions";
@import "views/users";

// Optimize the CSS output
$v-included-components: remove($v-included-components, accordion);
$v-included-components: remove($v-included-components, colorpicker);
$v-included-components: remove($v-included-components, grid);
$v-included-components: remove($v-included-components, popupview);
$v-included-components: remove($v-included-components, progressbar);
$v-included-components: remove($v-included-components, slider);
$v-included-components: remove($v-included-components, splitpanel);
$v-included-components: remove($v-included-components, tree);
$v-included-components: remove($v-included-components, treetable);
$v-included-components: remove($v-included-components, twincolselect);

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;

@mixin expensesystem {
  @include valo;
  @include expensesystem-common;
  @include expensesystem-expensesystem-view;
  @include expensesystem-login-view;
  @include expensesystem-register-view;
  @include expensesystem-reports-view;
  @include expensesystem-sales-view;
  @include expensesystem-schedule-view;
  @include expensesystem-transactions-view;
  @include expensesystem-users-view;
}
