// Global variable overrides. Must be declared before importing Valo.

$v-app-loading-text: "Expense System Application";
$v-background-color: #fafafa;
$v-app-background-color: #e7ebf2;
$v-panel-background-color: #fff;
$v-focus-color: #3b5998;
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 3px;
$v-textfield-border-radius: 0;
$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-size: 14px;
$v-font-color: #37404E;
$v-font-weight: 400;
$v-link-text-decoration: none;
$v-shadow: 0 1px 0 (v-shade 0.2);
$v-bevel: inset 0 1px 0 v-tint;
$v-unit-size: 30px;
$v-gradient: v-linear 12%;
$v-overlay-shadow: 0 3px 8px v-shade, 0 0 0 1px (v-shade 0.7);
$v-shadow-opacity: 20%;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-border-radius: 0;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
@import "view/login.scss";

@mixin expensesystem {
  @include valo;
  @include expense-login-view;

  // Insert your own theme rules here
  .v-calendar .v-calendar-event-1-all-day {
  	color: #37404E;
  	background-color: #ffffff;
  }
  .v-calendar .v-calendar-event-2-all-day {
  	color: #37404E;
  	background-color: #d7ddea;
  }
  .v-calendar .v-calendar-event-3-all-day {
  	color: #37404E;
  	background-color: #c4cde0;
  }
  .v-calendar .v-calendar-event-4-all-day {
  	color: #ffffff;
  	background-color: #b0bcd5;
  }
  
  .v-table-cell-content-1 {
    color: #37404E;
  	background-color: #ffffff;
  }
  .v-table-cell-content-2 {
    color: #37404E;
  	background-color: #d7ddea;
  }
  .v-table-cell-content-3 {
    color: #37404E;
  	background-color: #c4cde0;
  }
  .v-table-cell-content-0 {
    color: #ffffff;
  	background-color: #b0bcd5;
  }
}
