@import "designs.scss";
@import "expensesystem.scss";
@import "addons.scss";

$v-layout-margin: $v-layout-margin-top $v-layout-margin-right $v-layout-margin-bottom $v-layout-margin-left !default;

/* This font-face declaration must be outside your theme mixin. */
@font-face {
  font-family: 'Vaadin-Icons';
  src: url('fonts/Vaadin-Icons.eot');
  src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vaadin-Icons.woff') format('woff'),
       url('fonts/Vaadin-Icons.ttf') format('truetype'),
       url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
}
.Vaadin-Icons {
  font-family: 'Vaadin-Icons';
}

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in expensesystem.scss

.expensesystem {
  @include addons;
  @include expensesystem;

}
