@mixin day {

  .day-layout {
    max-width: 1200px;
  }

  .categorylist-panel {
    width: 45%;
  }

  .expenselist-panel {
    width: 45%;
    margin-left: $v-layout-margin-left;
  }

  .category-grid {
    background: $v-panel-background-color;
    padding: 0 0 20px 0;
    border-radius: 20px;

    .category-button {
      display: inline-block;
      width: 90px;
      height: 60px;
      padding: 10px;
    }
  }

  .expense-list {
    background: $v-panel-background-color;
    width: 100%;
    border-radius: 20px;
  }

  .add-expense {
    background: $v-panel-background-color;
    width: 100%;
    padding: $v-layout-margin;
    border-radius: 20px;
    margin-top: $v-layout-margin-top;
  }

  .add-expense[width-range~="0-800px"] {
    .add-expense-field {
      display: block;
    }
  }

  .v-ui[width-range~="0-800px"] {
    .categorylist-panel {
      width: 100%;
      margin-bottom: $v-layout-margin-bottom;
    }
    .expenselist-panel {
      width: 100%;
      margin: 0;
      
      > .v-widget {
          width: 100%;
        }
      
      .add-expense {
        .v-slot {
          display: block;
        }
        
        .v-widget {
          width: 100%;
        }
      }
    }
  }
}