@mixin day {

  .categorylist-panel {
    width: 45%;
  }

  .expenselist-panel {
    width: 45%;
    margin-left: $v-layout-margin-left;
  }

  .category-grid {
    background: $v-panel-background-color;
    padding: 0 0 20px 0;
    border-radius: 20px;
    margin: 10px;

    .category-button {
      display: inline-block;
      width: 90px;
      height: 60px;
      padding: 10px;
    }
  }

  .expense-list {
    background: $v-panel-background-color;
    width: 100%;
    border-radius: 20px;
    padding: 0;
  }

  .add-expense {
    background: $v-panel-background-color;
    width: 100%;
    padding: 0 0 20px 0;
    border-radius: 20px;
    
    .v-formlayout-captioncell, .v-formlayout-contentcell, .v-formlayout-errorcell {
      display: inline-block;
      }
  }

  .v-ui[width-range~="0-800px"] {
    .categorylist-panel {
      width: 100%;
      margin-bottom: $v-layout-margin-bottom;
    }
    .expenselist-panel {
      width: 100%;
      margin-left: 0;
    }
    
    .expense-list {
      .v-textfield {
        width: 100px;
      }
    }
    .add-expense {
      padding: $v-layout-margin;
      margin-top: $v-layout-margin-top;
      
      .v-textfield, .v-filterselect {
        width: 100% !important;
      }
      
      .v-formlayout-captioncell, .v-formlayout-contentcell, .v-formlayout-errorcell {
        display: block;
        text-align: center;
        padding: 0;
      }
    }
  }
}