@mixin login {
  // login screen - for small screens, see below
  .login-screen {
    width: 100%;
    height: 100%;
  
    @if $login-background-image {
      background-image: url(#{$login-background-image});
      background-size: cover;
      background-position: 50% 50%;
    }
    
    .centering-layout {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding-left: $login-info-width;
      
      .v-slot {
        height: 100%;
      }
    }
    
    .login-panel {
      background: $v-panel-background-color;
      opacity: 0.9;
      padding: $v-layout-margin;
      border-radius: 10px;
      @include animation(valo-animate-in-slide-up 800ms 10ms backwards, valo-animate-in-fade 600ms 100ms backwards);
      
      .borderless-colored {
        opacity: 1;
      }
      
      .borderless {
        opacity: 0.7;
      }
      
      .login-form, .register-form {
        padding: $v-layout-margin;
        
        .buttons {
          width: 100%;
          .v-button {
            width: 100% !important;
          }
        }
      }
    }
    
    .login-information {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: $login-info-width;
      height: 100%;
      background: $v-selection-color; // For IE8
      background-color: rgba($v-selection-color, $login-info-opacity);
      padding: $v-layout-margin;
      color: valo-font-color($v-selection-color, 0.9);
      @include animation(valo-animate-in-fade 1s 1s backwards);
      
      h1 {
        color: inherit;
        margin-top: 1.0em;
        margin-bottom: 0em;
        font-weight: 400;
      }
      
      a {
        color: inherit;
      }
    }
  }
  
  .v-ui[width-range~="0-1100px"] .login-screen {
    height: auto;
    min-height: 100%;
    
    font-size: 45px;
    
    .v-caption {
      font-size: 42px;
    }
    
    .v-button, .v-textfield {
      height: 96px;
    }
    
    .centering-layout {
      display: block;
      width: 100%;
      height: auto;
      padding-left: 0;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    
    .login-panel {
      width: 100%;
      max-width: 100%;
      
      .login-form, .register-form {
        width: 95%;
        max-width: 100%;
        
        .v-textfield {
          width: 100% !important;
        }
        
        .v-formlayout-captioncell, .v-formlayout-contentcell, .v-formlayout-errorcell {
          display: block;
          text-align: center;
          padding-top: 0;
        }
      }
    }
    
    .login-information {
      position: static;
      width: 100%;
      height: auto;
      padding: $v-layout-margin;
       .v-label {
        text-align: center;

         h1 {
          margin-top: .4em;
        }
      }
    }
  }
}


